<head>
    <meta charset="utf-8" />
    <title>TITLE HERE</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- CSS -->
    {{ assets.outputCss() }}

    <link rel="shortcut icon" href="favicon.ico" /> 
</head>