/* 
 * Page header style
 */
 .page-header-buttons {
    margin: 40px 0px 60px;
    border-bottom: none;
 }

 .page-header-buttons-content{
    padding-bottom: 9px;
 }

 .page-header-buttons-footer{
    border-bottom: 1px solid #EB3C3C;
 }

 .page-header-buttons-actions{
    float: right;
 }

 .page-header {
    border-bottom: 1px solid #EB3C3C;
 }

 /**
  * Language style
  */
 .lang > a.active, .lang > a:hover {
    background: #f59e9e none repeat scroll 0 0;
    text-decoration: none;
 }

 .lang > a {
    background: #eb3c3c none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    font-family: arial;
    font-weight: 700;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 36px;
 }

/**
 * Pagination style
 */
 .pagination-holder{
    border-top: thin solid #eee;
    margin-top: 50px;
 }

 .pagination > li > a {
    color: #EB3C3C;
 }

 .pagination > li > a:hover {
    color: #EB3C3C;
 }

 /* Checkbox styles */
 .margin-right{
    margin-right: 10px;
 }

/**
 * Top navigation
 */
 .top-navigation {
    position: absolute;
    margin-top: 5px;
    right: 0;
 }

/**
 * Table styles
 */
 .table-header{
    color:#fff;
    background-color: #EB3C3C;
 }

 .table > thead > tr > th {
    border-bottom: none;
 }

/**
 * Fav icon styles
 */
 .fa {
    color: #EB3C3C;
    margin: 5px;
 }

/**
 * Button styles
 */
 .button-default {
    padding: 7px 15px;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;

    color: #fff;
    background-color: #EB3C3C;
    border: 2px solid #EB3C3C;
 }

 .button-default:hover, .button-default:focus {
    text-decoration: none;
    color:#EB3C3C;
    background-color: transparent;
    border: 2px solid #EB3C3C;
 }

/**
 * Login styles
 */
#login-header{
    width: 260px;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

#login-content{
    width: 260px;
    margin: 0 auto;
}

#login-form > input {
    margin: 5px; 
}


.login-full-width{
    height: 100vh;
    width: 100vw;
    background: url('/public/img/backend/login-bg.png') center center no-repeat; 
    background-size: 100vw 100vh;
}

#login-container{
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   width: 300px;
   height: 240px;
   background-color: #c9af7a;
}

.container-fluid {
    padding: 0px;
}

/**
 * HREF Styles
 */
 td a, td a:hover, td a:focus, td a:visited{
    text-decoration: none;
    color: #EB3C3C;
 }

/**
 * Breadcrumbs
 */
ul#breadcrumbs li {
    display:inline;
}

#breadcrumbs > li > a {
    color:#EB3C3C;
}

#breadcrumbs {
    float: left;
    width: 50%;
    color:#EB3C3C;
}

.header-actions{
    float: right;
    width: 50%;
}

.header-container {
    padding: 5px;
}
